<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379269879235-r33ju0gvgnjo22lr9jjb4tk8bbifa4ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379269879235-r33ju0gvgnjo22lr9jjb4tk8bbifa4ke</string>
	<key>API_KEY</key>
	<string>AIzaSyDSxOlHUjoMt_2UgMiS2PvQfRqVi4CGLEg</string>
	<key>GCM_SENDER_ID</key>
	<string>379269879235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>m.bulat.bePopular</string>
	<key>PROJECT_ID</key>
	<string>bepopular-7182d</string>
	<key>STORAGE_BUCKET</key>
	<string>bepopular-7182d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379269879235:ios:f79239359d1abacf</string>
	<key>DATABASE_URL</key>
	<string>https://bepopular-7182d.firebaseio.com</string>
</dict>
</plist>